### 
###  -----------------------------------------------------
###  H T P C - D O C K E R   C O N F I G   S E T T I N G S
###  -----------------------------------------------------
###  The values configured here are applied during
###  $ docker-compose up
###  -----------------------------------------------
###  DOCKER-COMPOSE ENVIRONMENT VARIABLES BEGIN HERE
###  -----------------------------------------------
###

LOCALUSER=
HOSTNAME=
IP_ADDRESS=
PUID=
PGID=
PMSTOKEN=
PIAUNAME=
PIAPASS=
VPN_REMOTE=
CIDR_ADDRESS=
TZ=
PMSTAG=
EMAIL=
DOMAIN=
WATCHTOWER_EMAIL=
SMTP_FROM=
SMTP_SERVER=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=